<div class="container">

  <h1>Publier une annonce</h1>
  {{ this.annonceForm.value|json}}
  <ng-autocomplete (selected)="selected($event)" [classes]="['form-control']" [group]="group"></ng-autocomplete>

  <form [formGroup]="annonceForm" novalidate>

    <div class="card" formGroupName="itineraire">
      <div class="card-header">
        Itinéraire
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="dep" class="col-sm-3 col-form-label">Adresse de départ</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="dep" formControlName="adresseDepart">
          </div>
        </div>
        <div class="form-group row">
          <label for="arr" class="col-sm-3 col-form-label">Adresse d'arrivée</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="arr" formControlName="adresseArrivee">
          </div>
        </div>
        <div class="form-group row">
          <label for="duration" class="col-sm-3 col-form-label">Durée du trajet</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="duration" formControlName="duration">
          </div>
        </div>
        <div class="form-group row">
          <label for="distance" class="col-sm-3 col-form-label">Distance</label>
          <div class="col-sm-9">
            <input type="text" readonly class="form-control-plaintext" id="distance" formControlName="distance">
          </div>
        </div>
      </div>
    </div>

    <div class="card" formGroupName="vehicule">
      <div class="card-header">
        Véhicule
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="immat" class="col-sm-3 col-form-label">Immatriculation</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="immat" formControlName="immatriculation">
          </div>
        </div>
        <div class="form-group row">
          <label for="marque" class="col-sm-3 col-form-label">Marque</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="marque" formControlName="marque">
          </div>
        </div>
        <div class="form-group row">
          <label for="modele" class="col-sm-3 col-form-label">Modèle</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="modele" formControlName="modele">
          </div>
        </div>
        <div class="form-group row">
          <label for="dispo" class="col-sm-3 col-form-label">Places disponibles</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="dispo" formControlName="nbPlacesDispo">
          </div>
        </div>
      </div>
    </div>
    <div class="card" formGroupName="dateTime">
      <div class="card-header">
        Date et heure
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-4">
            <input id="date" class="form-control" (click)="d.toggle()" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
              formControlName="date">
          </div>
          <label for="heure" class="col-sm-2 col-form-label">Heure</label>
          <div class="col-sm-4">
            <ngb-timepicker id="heure" [minuteStep]="10" formControlName="heure"></ngb-timepicker>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary">Publier</button>
    </div>

  </form>
</div>
