<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <!--Formulaire Recherche-->

    <h2 class="display-4">Réserver un véhicule</h2>
    <!--Champs Filtre-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-addon">Adresse Départ</span>
      </div>
      <input type="text" class="form-control" [formControl]="filterField1">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-addon">Adresse Arrivée</span>
      </div>
      <input type="text" class="form-control" [formControl]="filterField2">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-addon">Date de départ </span>
      </div>
      <input type="date" class="form-control" [formControl]="filterField3">
    </div>
    <!--ListeRéservation Covoiturage-->
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Covoiturage">
        <ng-template ngbPanelContent>
          <div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Date/ heure</th>
                  <th>Départ</th>
                  <th>Destination</th>
                  <th>Véhicule</th>
                  <th>Chauffeur</th>
                  <th>Places disponibles</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let an of annonces | filterByAdresseDep:filtreAdrDep | filterByAdresseAr:filtreAdrAr | filterByDateDep:filtreDateAr">
                  <td>{{an.dateDepart | date:'dd-MM-yyyy HH:mm'}}</td>
                  <td>{{an.adresseDepart}}</td>
                  <td>{{an.adresseArrive}}</td>
                  <td>{{an.id}}</td>
                  <td>{{an.auteur.nom}}</td>
                  <td>{{an.nbPlacesRestantes}}</td>
                  <td>
                    <ng-template #content let-c="close" let-d="dismiss">
                      <div class="modal-header">
                        <h4 class="modal-title">Réservation convoiturage</h4>
                      </div>
                      <div class="modal-body">
                        <ul>
                          <li>Départ : {{an.adresseDepart}} </li>
                          <li>Destination : {{an.adresseArrive}} </li>
                          <li>Date/heure : {{an.dateDepart | date:'dd-MM-yyyy à HH:mm'}} </li>
                          <li>Véhicule : Audi </li>
                          <li>Chauffeur : {{an.auteur.nom}} {{an.auteur.prenom}} </li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
                        <button type="button" class="btn btn-outline-success" (click)="saveBooking(an); c('Close click')">Confirmer</button>
                      </div>
                    </ng-template>
                    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Réserver</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</body>

</html>