<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <!--Formulaire Recherche-->
    <div class="jumbotron">
      <h2>Réserver un véhicule</h2>
        <!--Champs Filtre-->
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Adresse Départ</span>
      <input #filtre type="text" class="form-control" aria-describedby="basic-addon3" (keyup)="setFiltre(filtre.value)">
    </div>
    <!--
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Adresse Arrivée</span>
      <input #filtre type="text" class="form-control" aria-describedby="basic-addon3" (keyup)="setFiltre(filtre.value)">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Date départ</span>
      <input #filtre type="date" class="form-control" aria-describedby="basic-addon3" (keyup)="setFiltre(filtre.value)">
    </div>
    </div>
    -->
    </div>
    <!--ListeRéservation-->
    <p>Covoiturage</p>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Date/ heure</th>
            <th>Départ</th>
            <th>Destination</th>
            <th>Véhicule</th>
            <th>Chauffeur</th>
            <th>Places disponibles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let an of annonces">
            <td>{{an.dateDepart}}</td>
            <td>{{an.adresseDepart}}</td>
            <td>{{an.adresseArrive}}</td>
            <td>Audi</td>
            <td>{{an.Collaborateur.nom}}</td>
            <td>{{an.nbPlacesDispos}}</td>
            <td>
              <button type="button" class="btn btn-success">Réserver</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>