<div class="container">
  <div class="row">
    <h1 class="col"> Vos réservations</h1>
    <div class="col-md-2 offset-md-8">
      <a type="button" class="btn btn-primary" [routerLink]="'creer'">Réserver un transport</a>
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>Covoiturages ({{(reservationsEnCours|async).length}} en cours) </span>
      </ng-template>
      <ng-template ngbPanelContent>
        <h4>Réservations en cours</h4>
        <app-liste-annonces [mode]="modes.RESERVATION" [annonces]="reservationsEnCours | async" [actionTemplate]=actionTemplate></app-liste-annonces>
        <h4>Historique</h4>
        <app-liste-annonces [mode]="modes.RESERVATION" [annonces]="reservationsHisto | async" [actionTemplate]=actionTemplate></app-liste-annonces>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Véhicule de société">
      <ng-template ngbPanelContent>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


<ng-template #actionTemplate let-annonce="annonce">
  <button class="btn btn-success" (click)="detailAnnonce(annonce)">Détail</button>
</ng-template>
