<div class="container">
  <div class="row">
    <h1 class="col"> Vos réservations</h1>
    <div class="col-md-2 offset-md-8">
      <a type="button" class="btn btn-primary" [routerLink]="'creer'">Réserver un transport</a>
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Covoiturage">
      <ng-template ngbPanelContent>

        <h4>Réservations en cours</h4>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date/heure</th>
              <th>Départ</th>
              <th>Destination</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let reservationEnCours of reservations">
            <tr>
              <td>{{ reservationEnCours.dateDepart | date:'dd/MM/yyyy'}} {{ reservationEnCours.dateDepart | date:'HH:ss'}}
              </td>
              <td>{{ reservationEnCours.adresseDepart }}
              </td>
              <td>{{ reservationEnCours.adresseArrive}}
              </td>
              <td>
                <button class="btn" (click)="detailAnnonce(reservationEnCours)">Détails</button>
              </td>
            </tr>
          </tbody>
        </table>

        <h4>Historique</h4>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Date/heure</th>
              <th>Départ</th>
              <th>Destination</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngFor="let reservation of reservationsHisto | slice:startLimit:endLimit">
            <tr>
              <td>{{ reservation.dateDepart | date:'dd/MM/yyyy'}} {{ reservation.dateDepart | date:'HH:ss'}}
              </td>
              <td>{{ reservation.adresseDepart }}
              </td>
              <td>{{ reservation.adresseArrive }}
              </td>
              <td>
                <button class="btn" (click)="detailAnnonce(reservation)">Détails</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!--<app-liste-annonces [libelleListe]="CovoitEnCours" [titre]="'Réservations en cours'" [reservations]="reservations"></app-liste-annonces>
            <app-liste-annonces [libelleListe]="CovoitHisto" [titre]="Historique" [reservations]="reservations"></app-liste-annonces>-->
        <ngb-pagination [collectionSize]="reservationsHisto.length" [(page)]="page" [pageSize]="5" [maxSize]="5" (pageChange)="onChange()"
          class="float-right m-3"></ngb-pagination>
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Véhicule de société">
      <ng-template ngbPanelContent>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
