<div class="container">
  <div class="row">
    <h1 class="col"> Vos réservations</h1>
    <div class="col-md-2 offset-md-8">
      <a type="button" class="btn btn-primary" [routerLink]="'creer'">Réserver un transport</a>
    </div>
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div [ngSwitch]="(reservationsCovoitEnCours|async) != null">
          <span *ngSwitchCase="true">Covoiturages ({{(reservationsCovoitEnCours|async).length}} en cours) </span>
          <span *ngSwitchCase="false">Covoiturages (0 en cours) </span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <h4>Réservations en cours</h4>
        <app-liste-annonces [mode]="modes.RESERVATION" [annonces]="reservationsCovoitEnCours | async" [actionTemplate]=actionTemplate></app-liste-annonces>
        <h4>Historique</h4>
        <app-liste-annonces [mode]="modes.RESERVATION" [histo]="true" [annonces]="reservationsHisto | async" [actionTemplate]=actionTemplateHisto></app-liste-annonces>
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div [ngSwitch]="(reservationsSocEnCours|async) != null">
          <span *ngSwitchCase="true">Véhicules de société ({{(reservationsSocEnCours|async).length}} en cours) </span>
          <span *ngSwitchCase="false">Véhicules de société (0 en cours) </span>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <h4>Réservations en cours</h4>
        <app-liste-reserv-societe [reservations]="reservationsSocEnCours | async"></app-liste-reserv-societe>
        <h4>Historique</h4>
        <app-liste-reserv-societe [reservations]="reservationsSocHisto | async"></app-liste-reserv-societe>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>


<ng-template #actionTemplate let-annonce="annonce">
  <button class="btn btn-success" (click)="openDetailAnnonce(annonce)">Détail</button>
  <button class="btn btn-danger" (click)="openCancelModal(annonce)">Annuler</button>
</ng-template>

<ng-template #actionTemplateHisto let-annonce="annonce">
  <button class="btn btn-success" (click)="openDetailAnnonce(annonce)">Détail</button>
</ng-template>

<ng-template #confirmTemplate let-annonce="annonce">
  <button class="btn btn-danger" (click)="confirmCancel(annonce)">Confirmer</button>
</ng-template>
