<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date/heure de départ</th>
      <th>Départ</th>
      <th>Destination</th>
      <th *ngIf="mode=='annonce'">Nombre de voyageurs</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let annonce of annonces | slice:startLimit:endLimit">
    <tr>
      <td>{{ annonce.dateDepart | date:'dd/MM/yyyy HH:ss'}}
      </td>
      <td>{{ annonce.adresseDepart }}
      </td>
      <td>{{ annonce.adresseArrive }}
      </td>
      <th *ngIf="mode=='annonce'">{{ annonce.passagers.length }}</th>
      <td>
        <button class="btn">Action</button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [collectionSize]="annonces.length" [(page)]="page" [pageSize]="5" [maxSize]="5" (pageChange)="onChange()"
  class="float-right m-3"></ngb-pagination>
