<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Date/heure début</th>
      <th>Date/heure fin</th>
      <th>Immatriculation</th>
      <th>Marque</th>
      <th>Modèle</th>
      <th>Chauffeur</th>
    </tr>
  </thead>
  <tbody *ngFor="let reserv of reservations | slice:startLimit:endLimit">
    <tr>
      <td>{{ reserv.dateReservation | date:'dd/MM/yyyy HH:mm'}}
      </td>
      <td>{{ reserv.dateRetour | date:'dd/MM/yyyy HH:mm'}}
      </td>
      <td>{{ reserv.vehicule.immatriculation }}
      </td>
      <td>{{ reserv.vehicule.marque.libelle }}
      </td>
      <td>{{ reserv.vehicule.modele.libelle }}
      </td>
      <div [ngSwitch]="reserv.optionChauffeur">
        <td *ngSwitchCase="true">
          <div *ngIf="reserv.chauffeur.nom"></div>{{ reserv.chauffeur.nom }} {{ reserv.chauffeur.prenom }}
        </td>
        <td *ngSwitchCase="false">
        </td>
      </div>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-12">
    <ngb-pagination *ngIf="reservations?reservations.length>5:false" [collectionSize]="reservations?reservations.length:0" [(page)]="page"
      [pageSize]="5" [maxSize]="5" (pageChange)="onChange()" class="float-right m-3">
    </ngb-pagination>
  </div>
</div>