<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Véhicule de société">
    <ng-template ngbPanelContent>
      <div class="card-body">
        <div class="row">
          <div class="col-xs-6 mr-5">
            <label for="dateDepart" class="col-form-label pt-0.5">Date/heure de réservation *</label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dateDepart" [(ngModel)]="dateDepart" ngbDatepicker #dateDep="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dateDep.toggle()" type="button">
                      <img src="./assets/img/calendar-icon.png" style="width: 1.2rem; height: 1.2rem; cursor: pointer;" />
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <label for="dateRetour" class="col-form-label mt-5 pt-0">Date/heure retour *</label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dateRetour" [(ngModel)]="dateRetour" ngbDatepicker #dateRet="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="dateRet.toggle()" type="button">
                      <img src="./assets/img/calendar-icon.png" style="width: 1.2rem; height: 1.2rem; cursor: pointer;" />
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-xs-4">
            <ngb-timepicker [(ngModel)]="heureDepart"></ngb-timepicker>
            <div class="mt-1">
              <ngb-timepicker [(ngModel)]="heureRetour"></ngb-timepicker>
            </div>
          </div>
          <div class="col-xs-2 ml-5">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="optionChauffeur" [(ngModel)]="optionChauffeur">Avec Chauffeur
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ngb-carousel *ngIf="vehiculesDispos != null">
              <div *ngFor="let vehicule of vehiculesDispos">
                <ng-template ngbSlide>
                  <img src="{{vehicule.photo}}" alt="photo véhicule" class="w-100">
                  <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                      <div class="center">{{ vehicule.immatriculation }}
                      </div>
                      <div class="row">{{ vehicule.marque }} - {{ vehicule.modele }}</div>
                      <div class="center">{{ vehicule.categorie.libelle }}</div>
                      <div [ngSwitch]="vehicule.disponible">
                        <div *ngSwitchCase="true">
                          <ng-template #content let-c="close" let-d="dismiss">
                            <div class="modal-header">
                              <h4 class="modal-title">Réservation d'un véhiule</h4>
                            </div>
                            <div class="modal-body">
                              <ul>
                                <li>Date/heure de réservation : {{reservation.dateReservation | date:'dd/MM/yyyy HH:mm'}}
                                </li>
                                <li>Date/heure de retour : {{reservation.dateRetour | date:'dd/MM/yyyy HH:mm'}}
                                </li>
                                <li>Immatriculation : {{vehicule.immatriculation}} </li>
                                <li>Marque : {{vehicule.marque}} </li>
                                <li>Modele : {{vehicule.modele}} </li>
                              </ul>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Annuler</button>
                              <button type="button" class="btn btn-outline-success" (click)="reserver(vehicule); c('Close click')">Confirmer</button>
                            </div>
                          </ng-template>
                          <button class="btn mb-5" (click)="open(content)">Réserver</button>
                        </div>
                        <div *ngSwitchCase="false">
                          <div class="text-danger">NON DISPONIBLE</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>